<div class="container-fluid">
    <div class="row">
        <ul class="breadcrumb">
            <li><a href="#">Production</a></li>
            <li><a class="active">Individual Capacity</a></li>
        </ul>
        <div class="col-lg-12">
            <div class="table">
                <div class="row">
                    <label class="form-label col-lg-3">
                        Location
                    </label>
                    <div class="col-lg-2">
                        <select class="form-control">
                            <option>ALL</option>
                            <option>ID21</option>
                            <option>ID22</option>
                            <option>ID23</option>
                            <option>ID24</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <label class="form-label col-lg-3">
                        Unit
                    </label>
                    <div class="col-lg-2">
                        <select class="form-control">
                            <option>2021</option>
                            <option>2022</option>
                            <option>2023</option>
                            <option>2024</option>
                            <option>GD 1</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <label class="form-label col-lg-3">
                        Brand
                    </label>
                    <div class="col-lg-2">
                        <select class="form-control">
                            <option>FA010783.14</option>
                            <option>FA010783.16</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <label class="form-label col-lg-3">
                        Process
                    </label>
                    <div class="col-lg-2">
                        <select class="form-control">
                            <option>GILING</option>
                            <option>GUNTING</option>
                            <option>PAK</option>
                            <option>BANDROL</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <label class="form-label col-lg-3">
                        Group
                    </label>
                    <div class="col-lg-4">
                        <select class="form-control">
                            <option>1001</option>
                            <option>1002</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <label class="form-label col-lg-3">
                        Capacity of Process
                    </label>
                    <div class="col-lg-2">
                        <select class="form-control">
                            <option></option>
                            <option>Multi Skill</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">View</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Save</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Print</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Excel</button>
                        </div>
                    </div>
                </div>
                <div class="table-overflow">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="head">
                                <th colspan="2">Employee</th>
                                <th colspan="7">Capacity (hours)</th>
                                <th rowspan="2">Active</th>
                                <th rowspan="2">Update By</th>
                                <th rowspan="2">Update Date</th>
                            </tr>
                            <tr class="head">
                                <th>ID</th>
                                <th>Name</th>
                                <th>3 Hour</th>
                                <th>5 Hour</th>
                                <th>6 Hour</th>
                                <th>7 Hour</th>
                                <th>8 Hour</th>
                                <th>9 Hour</th>
                                <th>10 Hour</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>326746</td>
                                <td>01 - Kotimah</td>
                                <td>10</td>
                                <td>17</td>
                                <td>20</td>
                                <td>23</td>
                                <td>27</td>
                                <td>30</td>
                                <td>29</td>
                                <td><input type="checkbox" checked="checked"></td>
                                <td>mntalia</td>
                                <td>24/01/2015 07:56:31</td>
                            </tr>
                            <tr>
                                <td>324361</td>
                                <td>03 - Siti Rohmah</td>
                                <td>10</td>
                                <td>17</td>
                                <td>20</td>
                                <td>23</td>
                                <td>27</td>
                                <td>30</td>
                                <td>32</td>
                                <td><input type="checkbox" checked="checked"></td>
                                <td>pherlukijanto</td>
                                <td>24/01/2015 07:56:31</td>
                            </tr>
                            <tr>
                                <td>305778</td>
                                <td>04 - Sulastri</td>
                                <td>10</td>
                                <td>17</td>
                                <td>20</td>
                                <td>23</td>
                                <td>27</td>
                                <td>30</td>
                                <td>29</td>
                                <td><input type="checkbox" checked="checked"></td>
                                <td>rjuliangga</td>
                                <td>24/01/2015 07:56:31</td>
                            </tr>
                            <tr>
                                <td>306422</td>
                                <td>05 - Kiswaroh</td>
                                <td>10</td>
                                <td>17</td>
                                <td>20</td>
                                <td>23</td>
                                <td>27</td>
                                <td>30</td>
                                <td>29</td>
                                <td><input type="checkbox" checked="checked"></td>
                                <td>pherlukijanto</td>
                                <td>24/01/2015 07:56:31</td>
                            </tr>
                            <tr>
                                <td>326746</td>
                                <td>01 - Kotimah</td>
                                <td>10</td>
                                <td>17</td>
                                <td>20</td>
                                <td>23</td>
                                <td>27</td>
                                <td>30</td>
                                <td>29</td>
                                <td><input type="checkbox" checked="checked"></td>
                                <td>pherlukijanto</td>
                                <td>24/01/2015 07:56:31</td>
                            </tr>
                            <tr>
                                <td>307157</td>
                                <td>06 - Nailil Fadilah</td>
                                <td>10</td>
                                <td>17</td>
                                <td>20</td>
                                <td>23</td>
                                <td>27</td>
                                <td>30</td>
                                <td>29</td>
                                <td><input type="checkbox" checked="checked"></td>
                                <td>rharsanti</td>
                                <td>24/01/2015 07:56:31</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>