@using HMS.SKTIS.Application.Resources
<div class="showbox pull-right">
    <span>@CommonLabel.PageShow</span>
    <select class="form-control" data-bind="options:numPageSize, value:selectedPageSize"></select>
</div>

