@using HMS.SKTIS.Application.Resources
<div class="showbox pull-right">
    <span>@CommonLabel.PageShow</span>
    <select class="form-control" id="pageSizeSelector">
        <option value="10" selected>10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
        <option value="50">50</option>
    </select>
</div>
