SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Sidiq
-- Create date: 2016-09-01
-- Description:	create table temp plant tpk
-- =============================================

CREATE TABLE tempplanttpk(
	TPKTPOStartProductionDate	DATETIME,
	KPSYear	INT,
	KPSWeek	INT,
	LocationCode	VARCHAR(100),
	UnitCode	VARCHAR(100),
	GroupCode	VARCHAR(100),
	shift	INT,
	ProcessGroup	VARCHAR(100),
	BrandGroupCode	VARCHAR(100),
	BrandCode	VARCHAR(100),
	ProcessTargetSystem1	FLOAT,
	ProcessTargetSystem2	FLOAT,
	ProcessTargetSystem3	FLOAT,
	ProcessTargetSystem4	FLOAT,
	ProcessTargetSystem5	FLOAT,
	ProcessTargetSystem6	FLOAT,
	ProcessTargetSystem7	FLOAT,
	ProcessTargetManual1	FLOAT,
	ProcessTargetManual2	FLOAT,
	ProcessTargetManual3	FLOAT,
	ProcessTargetManual4	FLOAT,
	ProcessTargetManual5	FLOAT,
	ProcessTargetManual6	FLOAT,
	ProcessTargetManual7	FLOAT,
	ProcessWorkHours1	FLOAT,
	ProcessWorkHours2	FLOAT,
	ProcessWorkHours3	FLOAT,
	ProcessWorkHours4	FLOAT,
	ProcessWorkHours5	FLOAT,
	ProcessWorkHours6	FLOAT,
	ProcessWorkHours7	FLOAT,
	TotalWorkhours	FLOAT,
	CreatedDate	DATETIME,
	CreatedBy	VARCHAR(100),
	UpdatedDate	DATETIME,
	UpdatedBy	VARCHAR(100),
	TPKCode	VARCHAR(256),
	WIP1	FLOAT,
	WIP2	FLOAT,
	WIP3	FLOAT,
	WIP4	FLOAT,
	WIP5	FLOAT,
	WIP6	FLOAT,
	WIP7	FLOAT,
	WIPStock	FLOAT,
	VarianceWIP1	FLOAT,
	VarianceWIP2	FLOAT,
	VarianceWIP3	FLOAT,
	VarianceWIP4	FLOAT,
	VarianceWIP5	FLOAT,
	VarianceWIP6	FLOAT,
	VarianceWIP7	FLOAT,
	LastProcessWorkHours1	FLOAT,
	LastProcessWorkHours2	FLOAT,
	LastProcessWorkHours3	FLOAT,
	LastProcessWorkHours4	FLOAT,
	LastProcessWorkHours5	FLOAT,
	LastProcessWorkHours6	FLOAT,
	LastProcessWorkHours7	FLOAT,
	Attendance1	FLOAT,
	Attendance2	FLOAT,
	Attendance3	FLOAT,
	Attendance4	FLOAT,
	Attendance5	FLOAT,
	Attendance6	FLOAT,
	Attendance7	FLOAT,
	ActualProduction1	FLOAT,
	ActualProduction2	FLOAT,
	ActualProduction3	FLOAT,
	ActualProduction4	FLOAT,
	ActualProduction5	FLOAT,
	ActualProduction6	FLOAT,
	ActualProduction7	FLOAT,
	ActualWorkhour1	FLOAT,
	ActualWorkhour2	FLOAT,
	ActualWorkhour3	FLOAT,
	ActualWorkhour4	FLOAT,
	ActualWorkhour5	FLOAT,
	ActualWorkhour6	FLOAT,
	ActualWorkhour7	FLOAT,
	DefaultProductivity	FLOAT,
	WorkerRegister	FLOAT,
	WorkerAvailable	FLOAT,
	WorkerAllocation	FLOAT,
	AverageHoursCapacity3	FLOAT,
	AverageHoursCapacity5	FLOAT,
	AverageHoursCapacity6	FLOAT,
	AverageHoursCapacity7	FLOAT,
	AverageHoursCapacity8	FLOAT,
	AverageHoursCapacity9	FLOAT,
	AverageHoursCapacity10	FLOAT,
	HoursCapacity1	FLOAT,
	HoursCapacity2	FLOAT,
	HoursCapacity3	FLOAT,
	HoursCapacity4	FLOAT,
	HoursCapacity5	FLOAT,
	HoursCapacity6	FLOAT,
	HoursCapacity7	FLOAT,
	Productivity1	FLOAT,
	Productivity2	FLOAT,
	Productivity3	FLOAT,
	Productivity4	FLOAT,
	Productivity5	FLOAT,
	Productivity6	FLOAT,
	Productivity7	FLOAT,
	PercentAttendance1	FLOAT,
	PercentAttendance2	FLOAT,
	PercentAttendance3	FLOAT,
	PercentAttendance4	FLOAT,
	PercentAttendance5	FLOAT,
	PercentAttendance6	FLOAT,
	PercentAttendance7	FLOAT
)