@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>SKTIS</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/Content/css/main.min.css" rel="stylesheet" media="screen">
    <script src="~/Content/css/main.min.css"></script>
</head>
<body class="login">
    <div class="container">
        <div class="login-box">
            <center>
                <h3>User Not Registered</h3>
                <h4>Please contact your administrator</h4>
            </center>
        </div>
    </div>
</body>
</html>
